@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/*---layout control with borders---*/
/* *{
 border: solid 1px red; 
}  */

/*--- general ---*/
body {
  font-family: "Open Sans", sans-serif;
  color: #82236f;
  background-color: #f5f5f5;
}

.uppercase {
  text-transform: uppercase;
}

.grid-wrapper {
  position: relative;
  height: 100%;
}

.blog-section {
  padding: 50px 0;
}

.blog-section h3 {
  font-size: 24px;
}
.blog-section span {
  display: block;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 25px;
}

.blog-section h4 {
  font-size: 18px;
}

.card {
  margin: 15px;
}

/*--- Navbar ---*/
.progress-nav {
  height: 30px;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  text-align: right;
  word-spacing: 2px;
  background: linear-gradient(90deg, #b35bb2 0%, #902c7e 100%);
}

.navbar {
  color: white;
  background-color: #82236f;
  padding: 0;
  height: 48px;
}

nav a {
  color: white;
}
nav a:hover {
  color: #b35bb2;
}

.nav-item:active {
  background-color: white;
  color: #82236f;
}

.navbar-toggler {
  color: white;
  margin: 0;
}

input[type="text"] {
  color: #d6d6d6;
  width: 130px;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  background: #40174a;
  border-radius: 4px 0 0 4px;
}

.search-container button {
  color: #d6d6d6;
  margin-right: 12px;
  height: 31px;
  float: right;
  padding: 4px 8px;
  background: #40174a;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-container button:hover {
  color: #b35bb2;
  cursor: pointer;
}

.user-icon {
  margin-right: 15px;
  position: relative;
  display: inline-block;
}

.user-icon:hover {
  color: #b35bb2;
  cursor: pointer;
}

.badge {
  position: absolute;
  font-size: 12px;
  height: 18px;
  min-width: 18px;
  top: -5px;
  right: -10px;
  border-radius: 50%;
  background: #e26d00;
  color: white;
}

/*---Intro Event---*/
.bg-intro-event {
  color: white;
  background: url("./img/bg-intro-event.png");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opaque-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.opaque-overlay h1 {
  font-size: 7vw;
}

.opaque-overlay h2 {
  font-size: 9vw;
}

.opaque-overlay p {
  font-size: 4vw;
}

/*--- Product news ---*/
.product-news .card {
  background-color: #f5f5f5;
  border: none;
}

.product-news .card-body {
  padding: 0px;
}

.card-diamond {
  position: relative;
  top: -10px;
  left: 15px;
  height: 20px;
  width: 20px;
  z-index: 1;
  background-color: #f5f5f5;
  transform: rotate(45deg);
}

/*---divider 1 ---*/
.divider-1-img {
  width: 100%;
  max-height: 464px;
  display: none;
}

.mid-divid {
  display: block;
}

.no-padding {
  padding: 0;
}

/*--- case studies ---*/
.case-studies .card {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(126, 2, 2, 0.2);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
.play-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 2px;
  position: relative;
  top: -65px;
  left: -10px;
  height: 34px;
  width: 36px;
  z-index: 1;
  background-color: #82236fcc;
}

.other-case-btn {
  text-align: center;
  margin: 35px 0;
}

/*--- watch interviews ---*/
.watch-interviews .card {
  background-color: #f5f5f5;
  border: none;
}

.watch-interviews .play-btn {
  position: relative;
  top: -45px;
  left: 10px;
}

/* --- Divider 2 share with us  --- */
.bg-share-with-us {
  color: white;
  background: url("./img/divid4.jpg");
  height: 460px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-share-with-us h5 {
  font-size: 25px;
  line-height: 0.8;
  margin-bottom: 25px;
}
.bg-share-with-us h5 span {
  font-size: 45px;
}
.bg-share-with-us p {
  width: 100%;
}

/* --- our booth ---*/
.our-booth {
  color: white;
  background: rgb(77, 23, 74);
  background: linear-gradient(
    135deg,
    rgba(77, 23, 74, 1) 0%,
    rgba(130, 35, 111, 1) 100%
  );
  height: auto;
}
.mock {
  width: 100%;
}
.our-booth a {
  color: white;
  text-decoration: underline;
}
.our-booth a:hover {
  color: #b35bb2;
}

/*--- what's on event ---*/
.dropdown {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 25px;
}
.dropdown button {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 100%;
  background-color: white;
  border: #9e9e9e 1px solid;
  border-radius: 0;
  margin-left: 25px;
  padding: 0 12px;
}
.dropdown-menu {
  width: 100%;
}

.brochure-item {
  font-size: 15px;
}

.brochure-item img {
  display: inline;
  height: 40px;
}
.brochure-item p {
  line-height: 0.6;
}

.brochure-item p:last-child {
  color: #696969;
}

.qr-code {
  width: 100%;
  padding: 30px;
  margin-right: 15px;
}

/*--- Footer ---*/
footer {
  background-color: blueviolet;
}

/*---Media Queries --*/
@media (min-width: 768px) {
  .grid-wrapper {
    margin: auto;
    max-width: 768px;
    width: 100%;
  }
  input[type="text"] {
    width: 300px;
    height: 31px;
  }
  .opaque-overlay h1 {
    font-size: 3vw;
  }

  .opaque-overlay h2 {
    font-size: 5vw;
  }

  .opaque-overlay p {
    font-size: 0.8vw;
  }
  .divider-1-img {
    width: 100%;
    height: 100%;
    display: inline;
  }
  .card {
    margin: 0;
  }
  .mid-divid {
    padding: 0 10px 0 10px;
  }
  .qr-code {
    height: 55px;
    width: auto;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .grid-wrapper {
    margin: auto;
    max-width: 992px;
    width: 100%;
  }
  .bg-share-with-us p {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .grid-wrapper {
    margin: auto;
    max-width: 1280px;
    width: 100%;
  }
  input[type="text"] {
    width: 430px;
    height: 31px;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
