@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/*---Intro Event---*/
.bg-intro-event {
  height: 80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("./img/mac.png") no-repeat bottom right fixed;
  position: relative;
}


/* --- Divider 2 share with us  --- */
.divider-2-share {
  height: 200px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("./img/background2.png") no-repeat bottom right fixed;
  position: relative;
}


/* --- our booth ---*/
.our-booth {
  background-color: blueviolet;
  width: 100%;
  height: 200px;
}

/*--- Footer ---*/
footer {
  background-color: blueviolet;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
